.Rproj.user/
.Rhistory
.RData
.Ruserdata
renv/library/
*.rds
.renv/
*.RData
*.csv
*.xlsx
*.xls
*.jpg
*.pdf
*.png
*.html
/data/
.DS_Store
inst/doc
doc/
Meta/
/doc/
/Meta/
data/
/.quarto/
E_descriptiva_files/
grafico_simple_files/
Prueba-de-grafico_files/
resultados_tesis/